.Layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;

    @media (prefers-color-scheme: dark) {
        background-color: #1a1a1b;
    }

    &__inner {
        padding: 24px;
    }
}