.Social {
    display: flex;
    flex: 0 0 auto;

    @media (hover) {
        &:hover {
            svg {
                opacity: .5;
            }
        }
    }

    &__item {
        $parent: &;

        display: block;
        position: relative;
        padding: 0 8px;
        font-size: 16px;
        line-height: 1;
        font-weight: 700;
        text-decoration: none;
        color: #000;

        animation-name: fadeDown;
        animation-duration: 1s;
        animation-fill-mode: both;

        @media (prefers-color-scheme: dark) {
            color: #fff;
        }

        &::after {
            content: attr(data-dropdown);
            display: block;
            position: absolute;
            top: 100%;
            left: 50%;
            padding: .7em;

            opacity: 0;
            pointer-events: none;

            color: gray;
            font-size: 8px;
            letter-spacing: .05em;
            font-family: sans-serif;
            font-weight: bold;
            line-height: 1;
            text-transform: uppercase;

            border-radius: .5em;
            background-color: #e4e4e4;

            transform: translateY(-100%) translateX(-50%);
            transition:
                opacity 250ms ease-in-out,
                transform 250ms ease-in-out;

            @media (prefers-color-scheme: dark) {
                color: #b1b1b1;
                background-color: #48484a;
            }
        }

        svg {
            transition: opacity 250ms ease-in-out;
        }

        @media (hover) {
            &:hover {
                svg {
                    opacity: 1;
                }

                &::after {
                    opacity: 1;
                    transform: translateY(12px) translateX(-50%);
                }
            }
        }
    }
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}