.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 1;
    top: 0;
    padding: 24px;
    width: 100%;
    background-color: #fff;

    @media (prefers-color-scheme: dark) {
        background-color: #1a1a1b;
    }

    &__headline,
    &__headline a {
        margin: 0;
        color: #000;
        text-decoration: none;

        @media (prefers-color-scheme: dark) {
            color: #fff;
        }
    }

    &__headline {
        animation-name: fadeDown;
        animation-duration: 1s;
        animation-fill-mode: both;
    }
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}